*{
  border: 1px black solid;
}

body {
  background-color: blanchedalmond;
  margin: 0;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
}
.a {
  min-height: 10vh;
  flex-grow: 1;
  margin: .5em;
}
.b {
  flex-grow: 3;
  margin: .5em;
  
}
.c {
  flex-grow: 1;
  margin: .5em;
}
/* for the desktop design*/

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .a{
    width: 100%;
    justify-content: space-evenly;
    margin: .5em;
    height: 20vh;
  }
  .b{
    width: 10%;
    height: 80vh;
  }
}